<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>852872640470-4gk0pvocnun9dobsgbgqpe32tdbl6jiq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.852872640470-4gk0pvocnun9dobsgbgqpe32tdbl6jiq</string>
	<key>API_KEY</key>
	<string>AIzaSyBLB5DyKwWSFlpoE1Lp4PCFGgs1ugEk8F4</string>
	<key>GCM_SENDER_ID</key>
	<string>852872640470</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>codesmart.Project-moobarak-final</string>
	<key>PROJECT_ID</key>
	<string>projectmoobarak</string>
	<key>STORAGE_BUCKET</key>
	<string>projectmoobarak.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:852872640470:ios:a572dfc046ad62f4145677</string>
	<key>DATABASE_URL</key>
	<string>https://projectmoobarak.firebaseio.com</string>
</dict>
</plist>